services:
  grafana:
    image: grafana/grafana:nightly
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - ./grafana.ini:/etc/grafana/grafana.ini
    restart: unless-stopped
